/* Container to align buttons and table */
.table-container {
  width: 80%;
  margin: 20px auto 0 auto;
}

/* Buttons */
.btn-new, .btn-update, .btn-delete {
  display: inline-block;
  margin-bottom: 15px;
  padding: 8px 10px;
  background-color: #503d9e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-update, .btn-delete {
  display: block;
  margin: 5px auto;
  padding: 8px 20px;
  font-size: 14px;
  min-width: 100px;
}

.btn-new:hover, .btn-update:hover, .btn-delete:hover {
  background-color: #fff;
  color: #503d9e;
}

/* Table*/
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 25%;
}

/* Head */
th {
  background-color: #654ea3;
  color: #fff;
  text-align: center;
}
