body, html {
  height: 100%;
  margin: 0;
}

.app-background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #654ea3 0%, #eaafc8 100%);
}
